@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #f6c908;
  }

* {
  font-family:"Glegoo", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------------------------------------------Nav Bar*/
.logo {
  color: rgb(234, 250, 10);
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  font-family:"Glegoo", sans-serif;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: #000000;
  color: #ffffff;
  height: 75px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 1%;
}
.menu li a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 500;
  font-size: 12px;
  font-family:"Glegoo", sans-serif;
}

.menu li:hover {
  background-color: #f6c908;
}

nav a.active {
  border: #fafafa solid 2px;
  padding: 1px;
}

/*-------------------------------------------hero image*/
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


.hero-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  padding-bottom: 1%;
}

/*---------------------------------------------------History*/
.history {
  text-align: center;
  background: rgb(0, 0, 0);
  color: #fafafa;
  letter-spacing: 2px;
  font-family:"Glegoo", sans-serif;
}

.history h1 {
  text-decoration: underline 2px;
  text-underline-position: under;
}

/*------------------------------------------------How it works*/
.how-it-works {
  background: url(https://images.unsplash.com/photo-1516641051054-9df6a1aad654?q=80&w=2560&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center center / cover no-repeat fixed;
}


.steps{
  list-style-type: none;
  font-weight: 500;
  margin: 5%;
  padding: 0;
  color:#fafafa;
  font-weight: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  font-family:"Glegoo", sans-serif;
}

.steps li {
  padding: 1%;
}

/*--------------------------------------------------Event boxes-*/
.adult-night {
    background: #f6c908;
}

.after-school {
  background: #f6c908;
}
.event {
  position: relative;
}

.event h4 p {
  font-family:"Glegoo", sans-serif;
}

.event img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid black 5px;
}

.event-heading{
  font-size: 16px;
  text-decoration: underline;
}

.event-textblock {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background-color: rgb(14, 13, 13 ,0.8);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  
}

.event-textblock-2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  background-color: rgb(14, 13, 13 ,0.8);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  }

/* ------------------------------------opeing time and location */
.opening-location{
  background-color: #f6c908;
  margin: 0;
  width: 100%;
}

.opening-location table {
  margin: auto;
  font-family:"Glegoo", sans-serif;
}

.info-border {
  border: #000000 solid 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.map{ 
  width: 100%;
}
/* -----------------------------------------------------Gallery*/
.gallery-container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.gallery-title {
  margin-bottom: 2rem;
  font-family:"Glegoo", sans-serif;
}

.photo-gallery ul {
  display: flex;
  flex-wrap: wrap; 
  list-style: none;
}

.photo-gallery li {
  height: 38vh;
  flex-grow: 1;
  padding: 1%;
}

.photo-gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  
}

.photo-gallery li:last-child {
  flex-grow: 10;
}

/* -----------------------------------------------------conatact page */
.form {
  font-family:"Glegoo", sans-serif;
  margin-bottom: 8%;
}

.form h2 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
}
.contact-form {
 background-color: rgb(60, 60, 60, 0.8);
 color: #fafafa;
 padding: 28px 5px;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {
  margin-top: 5%;
  margin-bottom: 8%;
}

input[type=textarea]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 5%;
}

input[type=submit] {
  width: 70%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15%;
}

input[type=reset] {
  width: 70%;
  background-color: #e46454;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15%;
}

/* -----------------------------------------------------Thank you html */
.thank-you-section {
  background: url(https://images.unsplash.com/photo-1585366119957-e9730b6d0f60?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 800px;
}

.thank-you-message-border{
padding-top: 38%;
}

.thank-you-message {
  text-align: center;
  color: #131111;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  margin: 0 2%;
  background-color:rgb(255, 255, 255, 0.7);
  font-family:"Glegoo", sans-serif;
}

.return-home {
  background-color: #f6c908; 
  border-radius: 4px;
  color: #131111;
  padding: 10px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 1000;
  margin-top: 35px;
  font-family:"Glegoo", sans-serif;
}

.return-home-border{
  margin: 0 15%;
}
/* -----------------------------------------------------Footer */
footer{
  background: #333;
  padding: 1em;
	text-align: center;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 0;
  right: 0;
	z-index: 3;
  font-family:"Glegoo", sans-serif;
}

footer p {
  color: #f6c908;
}
.social-networks{
  text-align: center;

}

.social-networks li{
  display: inline;
}

.social-networks i{
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #fafafa;
}
/* -----------------------------------------------------Media queries */
@media only screen and (min-width: 1440px) {
  /*---Nav Bar*/
  .logo {
    font-size: 25px;
    font-weight: 600;
   }

  .menu li a {
    font-weight: 700;
    font-size: 18px;
  }
  .menu li i {
    font-weight: 700;
    font-size: 15px;
    height: 25px;
  }
  /*------How it works*/
  .how-it-works {
    padding-top: 2%;
  }
  /* ----opeing time and location */
  .opening-location {
    font-size: 1.3em
  }
  /* ------Thank you html */
  .thank-you-message {
    text-align: center;
    color: #131111;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    margin: 0 20%;
    background-color:rgb(255, 255, 255, 0.7);
    
  }

} 

@media only screen and (min-width: 768px) { 
   /* ------Thank you html */
  .thank-you-message-border{
    padding-top: 22%;
    }

    .return-home {
      margin: 10% 30%;
    }
}

/* -----Gallery Flex */
@media (max-aspect-ratio: 1/1) {
  .photo-gallery li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .photo-gallery li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo-gallery ul {
    flex-direction: row;
  }

  .photo-gallery li {
    height: auto;
    width: 100%;
  }

  .photo-gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/* -----------------------------------------------------Bootstap overide */

.container-fluid {
  padding: 0;
}